<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/printerous.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'fadeIn second', placeholder: 'email' %>
      <br/>
      <%= f.password_field :password, autocomplete: "current-password", class: 'fadeIn third', placeholder: 'password' %>
      <br/>
      <input type="submit" class="fadeIn fourth" value="Log In">
    <% end %>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
