<div class="card">
  <div class="card-header">List Organization</div>
  <div class="card-body">
    <% if !current_user.is_account_manager? %>
      <a class="btn btn-primary pull-right" href="<%= new_organization_path %>">Add New</a>
    <% end %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Website</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @organizations.each.with_index(1) do |org, no| %>
          <tr>
            <th scope="row"><%= no %></th>
            <td><%= org.name %></td>
            <td><%= org.website %></td>
            <td>
              <%= link_to 'Show', organization_path(org), class: "btn btn-info" %>
              <% if current_user.organization_id == org.id %>
                <%= link_to 'Edit', edit_organization_path(org), class: "btn btn-success" %>
                <%= link_to 'Delete', organization_path(org), method: "delete", class: "btn btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
